*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Dongle", sans-serif;
}

$bg: rgb(30, 30, 30); 
$yellow:  rgb(198, 162, 32);
$olive: #556b2f;

